@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap'); */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eef1f6;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#root {
	overflow-x: hidden;
}

:root {
	--sunrise-yellow: #fbbe12;
	--golden-orange: #fba919;
	--deep-blue: #1b3766;
	--midnight-navy: #102a4d;
	--colorTesting: rgb(115, 239, 255);
}

::selection {
	background-color: var(--golden-orange);
	color: white;
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 12px;
	/* Width of the scrollbar */
}

::-webkit-scrollbar-track {
	background: #1e085e;
	/* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
	background: #25097f;
	/* Color of the scrollbar thumb */
	border-radius: 10px;
	/* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
	background: #1f1479;
	/* Color of the scrollbar thumb on hover */
}

* {
	scrollbar-width: thin;
	/* Thin scrollbar */
	scrollbar-color: #fda916 #eef1f6;
	/* Color of the scrollbar thumb and track */
}

html {
	scroll-behavior: smooth;
}

.bg-radial-gradient {
	background: radial-gradient(circle at center, var(--tw-gradient-from) 0%, var(--tw-gradient-via) 50%, var(--tw-gradient-to) 100%);
}

.navbar::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	background-color: var(--sunrise-yellow);
background: linear-gradient(to right, var(--golden-orange), var(--sunrise-yellow));
}

@keyframes quantum-float {
	0% {
		transform: translateY(0) scale(0.5) rotate(0deg);
		opacity: 0.2;
	}

	50% {
		transform: translateY(-100vh) scale(1.2) rotate(360deg);
		opacity: 0.5;
	}

	100% {
		transform: translateY(100vh) scale(0.3) rotate(720deg);
		opacity: 0;
	}
}

.custom-shape-divider-top-1738426196 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
	z-index: -1;
}

.custom-shape-divider-top-1738426196 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 30rem;
}

.custom-shape-divider-top-1738426196 .shape-fill {
    fill: #062a58;
}