::selection {
	background-color: var(--color-primary-light);
	color: white;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #1e085e;
}

::-webkit-scrollbar-thumb {
	background: #25097f;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1f1479;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #fda916 #eef1f6;
}

.custom-shape-divider-top-1738426196 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
	z-index: -1;
}

.custom-shape-divider-top-1738426196 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 30rem;
}

.custom-shape-divider-top-1738426196 .shape-fill {
    fill: #062a58;
}